.grid { 
  display: grid;
  grid-template-areas: 
    "nav graph node"
    "footer footer footer";
  grid-template-rows: 1fr 10%;  
  grid-template-columns: 20% 1fr 35%;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  height: 100vh;
  margin: 0;
}  


.nav {
  grid-area: nav;
  background: #FF0022;
  padding: 1em;
}
.graph {
  grid-area: graph;
  background: #2E2F2F;
  padding: 1em;
}
.node {
  grid-area: node;
  background: #caf7e2;
  padding: 1em;
}
.footer {
  grid-area: footer;
  background: #BBBBBF;
  padding: 1em;
}

@media all and (max-width: 575px) {
  .grid { 
    grid-template-areas: 
      "nav"
      "graph"
      "node"
      "footer";
    grid-template-rows: 80px 1fr 1fr 80px;  
    grid-template-columns: 1fr;
 }
}