#grid { 
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: .25fr 1fr ;
  grid-gap: .25vw;
  }
#grid > div {
  font-size: 3vw;
  padding: .25em;
  background: gold;
  text-align: center;
}